<!-- BEGIN FOOTER -->
<div class="footer header navbar navbar-inverse navbar-fixed-bottom" style="text-align: center;">
    <div class="container-fluid" style="background-color: #3d3d3d !important">
        2016 &copy; 福克商城 &copy; www.forke.cn
        <div class="span pull-right" style="background-color: #42180F;margin-top: 2px">
            <span class="go-top"><i class="icon-angle-up"></i></span>
        </div>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="/template/assets/js/jquery-1.8.3.min.js"></script>
<!--[if lt IE 9]>
<script src="/template/assets/js/excanvas.js"></script>
<script src="/template/assets/js/respond.js"></script>
<![endif]-->
<script src="/template/assets/breakpoints/breakpoints.js"></script>
<script src="/template/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/template/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/template/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/template/assets/js/jquery.blockui.js"></script>
<script src="/template/assets/js/jquery.cookie.js"></script>
<!--<script type="text/javascript" src="/template/assets/uniform/jquery.uniform.min.js"></script>-->
<script src="/template/assets/js/app.js"></script>
<script>
    jQuery(document).ready(function() {
        App.setPage("index");  // set current page
        App.init(); // init the rest of plugins and elements
    });
</script>
</body>
</html>
